<div class="container-fluid text-center spacer">
  <div class="col-sm-6">
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h5>Modifier une division</h5>
            </div>
            <table class="table table-striped">
              <tr>
                <th>Libellé Division</th>
                <input class="marge" type="text" [(ngModel)]="division.libelleDivision"/>
                <th><button class="btn btn-primary" (click)="updateDivision()">Modifier</button>
                </th>
              </tr>	
            </table>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
    <div class="navbar-form">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Toutes les divisions</h5>
      </div>
      <div class="navbar-form navbar-right row" >
          <input type="text" [(ngModel)]="motCle" placeholder="Rechercher" />
          <button type="button" class="btn btn-default" (click)="chercher()"><i class="fas fa-search"></i></button>
      </div>
    <table class="table table-striped">
        <tr>
          <th>ID Division</th>
          <th>Libellé Division</th>
          <th>Modification</th>
        </tr>
        <tr *ngFor="let d of pageDivisions?.content">
          <td>{{d.idDivision}}</td>
          <td>{{d.libelleDivision}}</td>
          <td><a (click)="onEditDivision(d.idDivision)"><i class="fas fa-edit editIcon"></i></a></td>
          <td><a (click)="onDeleteDivision(d)">
            <i class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
    </table>
    <div class="container">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
          <a (click)="gotoPage(i)">{{i}}</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</div>
