<div class="spaceer  tableSpacer">
  <div class="col-sm-6 position" *ngIf="display==1">
    <div class="navbar-form">
      <div class="panel panel-success">
        <div class="panel-heading" style="display: flex;">
          <a (click)="retourAuComposant()">
            <i class="fas fa-chevron-circle-left cursorElement" style="font-size:2em;margin-right:10px;"></i>
          </a>
          <h5 *ngIf="mode==0">Ajouter un projet</h5>
          <h5 *ngIf="mode==1">Modifier un projet</h5>
        </div>
        <div class="inputForm spacer spacerUp" (keyup)="isValidForm()">
          <mat-form-field>
            <input matInput placeholder="Intitulé" [(ngModel)]="projet.intitule" name="nom" #nom="ngModel" required>
            <mat-error *ngIf="nom.invalid">Veuillez saisir l'intitulé du projet</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Commune" [(ngModel)]="libelleCommune" name="commune" #commune="ngModel" required>
              <mat-option *ngFor="let commune of communes" [(value)]="commune.libelleCommune">
                {{ commune.libelleCommune }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="commune.invalid">Veuillez choisir une commune pour le projet</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Province" [(ngModel)]="libelleProvince" name="province" #province="ngModel" required>
              <mat-option *ngFor="let province of provinces" [(value)]="province.libelleProvince">
                {{ province.libelleProvince }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="province.invalid">Veuillez choisir une province pour le projet</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Année de programmation" [(ngModel)]="projet.anneeDeProgrammation" name="anneeDeProgrammation"
              #anneeDeProgrammationV="ngModel" required>
            <mat-error *ngIf="anneeDeProgrammationV.invalid">Veuillez saisir une année</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Secteur" [(ngModel)]="libelleSecteur" name="secteur" #secteur="ngModel" required>
              <mat-option *ngFor="let secteur of secteurs" [(value)]="secteur.libelleSecteur">
                {{ secteur.libelleSecteur }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="secteur.invalid">Veuillez choisir un secteur pour le projet</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Statut" [(ngModel)]="libelleStatut" name="statut" #statut="ngModel" required>
              <mat-option *ngFor="let statut of statuts" [(value)]="statut.libelleStatut">
                {{ statut.libelleStatut }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="statut.invalid">Veuillez choisir un statut pour le projet</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Taux d'avancement" [(ngModel)]="projet.tauxAvancement" name="tauxAvancement" #tauxAvancementV="ngModel"
              required>
            <span matSuffix>
              <b>%</b>
            </span>
            <mat-error *ngIf="tauxAvancementV.invalid">Veuillez saisir un taux</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date Ouverture des Plis" type="date" [(ngModel)]="projet.dateOP">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Chargé du projet" [(ngModel)]="projet.chargeDuProjet">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Montant Programmé" type="number" [(ngModel)]="projet.montantProgramme" name="montantProgramme"
              #montantProgramme="ngModel" required>
            <span matSuffix>
              <b>MAD</b>
            </span>
            <mat-error *ngIf="montantProgramme.invalid">Veuillez saisir un montant</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date de commencement des Travaux" type="date" [(ngModel)]="projet.dateCommTravaux" name="dateCommTravaux"
              #dateCommTravaux="ngModel" required>
            <mat-error *ngIf="dateCommTravaux.invalid">Veuillez saisir un montant</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date d'Appel d'Offre" type="date" [(ngModel)]="projet.dateAO" name="dateAO" #dateAO="ngModel"
              required>
            <mat-error *ngIf="dateAO.invalid">Veuillez saisir une date</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Date de fin des Travaux" type="date" [(ngModel)]="projet.dateFinTravaux">
          </mat-form-field>
          <mat-checkbox class="checkbox" [(ngModel)]="projet.estProjetRoyal" required>Royal</mat-checkbox>
          <mat-checkbox class="checkbox" [(ngModel)]="projet.estMasque" required>Masqué</mat-checkbox>

        </div>
        <button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="ajouterProjet()" style="height:40px;margin: 20px;"
          *ngIf="mode==0">Ajouter</button>
        <button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="updateProjet()" style="height:40px;margin: 20px;"
          *ngIf="mode==1">Modifier</button>
      </div>
    </div>
  </div>
  <div class="container spaceer" *ngIf="display==0">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Liste des projets</h5>
      </div>
      <div class="rowMenu spacer">
        <button mat-button color="primary" class="newEntity innerSpacer" (click)="clickOnAjouterProjet()">Ajouter un projet</button>
        <div class="navbar-form navbar-right row">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="motCle" (keyup)="chercher()" placeholder="Rechercher" />
          </mat-form-field>
          <div></div>
          <div class="selectRecherche">
            <mat-form-field>
              <mat-select (change)="chercher()" placeholder="Critére de recherche" [(ngModel)]="critere">
                <mat-option value="intitule">Intitulé</mat-option>
                <mat-option value="statut">Statut</mat-option>
                <mat-option value="secteur">Secteur</mat-option>
                <mat-option value="commune">Commune</mat-option>
                <mat-option value="royal">Royal</mat-option>
                <mat-option value="masque">Masqué</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <a (click)="exportCSV()">
            <i class="fas fa-file-excel cursorElement exportButton"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Titre</th>
              <th>Commune</th>
              <th>Province</th>
              <th>Année de programmation</th>
              <th>Montant du projet</th>
              <th>Secteur</th>
              <th>Modifier</th>
              <th>Supprimer</th>
              <th></th>
            </tr>
            <tr *ngFor="let p of pageProjets?.content">
              <td>{{p.intitule}}</td>
              <td>{{p.commune.libelleCommune}}</td>
              <td>{{p.province.libelleProvince}}</td>
              <td>{{p.anneeDeProgrammation}}</td>
              <td>{{p.montantProgramme}}</td>
              <td>{{p.secteur.libelleSecteur}}</td>
              <td>
                <a (click)="onEditProjet(p.idProjet)">
                  <i class="fas fa-edit editIcon cursorElement"></i>
                </a>
              </td>
              <td>
                <a (click)="onDeleteProjet(p)">
                  <i class="glyphicon glyphicon-remove cursorElement"></i>
                </a>
              </td>
              <td class="noExport">
                <button type="button" class="btn btn-primary" (click)="onDetailsProjet(p.idProjet)" class="cursorElement">détails</button>
              </td>

            </tr>
          </table>
        </div>
        <div class="container">
          <ul class="pager">
            <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
              <a (click)="gotoPage(i)" class="cursorElement">{{i}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>