<div class="nospacer">
      <div class="container spacer">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h5>Liste des projets</h5>
            </div>
            <div class="panel-body">
              <div class="navbar-form navbar-right row" >
                <input type="text" [(ngModel)]="motCle" placeholder="Rechercher" />
                <div class="selectRecherche">
                    <select class="custom-select">
                        <option value="chercher" selected>Chercher Par</option>
                        <option value="intitule">Intitulé</option>
                        <option value="statut">Statut</option>
                        <option value="secteur">Secteur</option>
                        <option value="commune">Commune</option>
                        <option value="royal">Royal</option>
                        <option value="masque">Masqué</option>
                      </select>
                </div>
                <button type="button" class="btn btn-default" (click)="chercher()"><i class="fas fa-search"></i></button>
              </div>
              <table class="table table-striped">
                <tr>
                  <th>Intitulé</th>
                  <th>Commune</th>
                  <th>Montant Programmé</th>
                  <th>Secteur</th>
                  <th>Modifier</th>
                </tr>
                <tr *ngFor="let p of pageProjets?.content">
                  <td>{{p.intitule}}</td>
                  <td>{{p.commune}}</td>
                  <td>{{p.montantProgramme}}</td>
                  <td>{{p.secteur.libelleSecteur}}</td>
                  <td><a href="/projets"><i class="fas fa-edit editIcon"></i></a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>      
</div>