<div class="container-fluid text-center spacer">
  <div class="col-sm-6" *ngIf="mode==0">
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h5>Ajouter une nature </h5>
            </div>
            <div class="row spacer">
              <div class="inputForm">
                  <mat-form-field>
                      <input matInput placeholder="Libellé Nature" [(ngModel)]="nature.libelleNature" name="libelleNature" required> 
                  </mat-form-field>
                
              </div>
              <button mat-raised-button color="primary" (click)="ajouterNature()" style="height:30px;margin: auto;">Ajouter</button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6" *ngIf="mode==1">
      <div class="navbar-form">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h5>Modifier une nature</h5>
          </div>
          <div class="row spacer">
              <div class="inputForm">
                <mat-form-field>
                  <input matInput placeholder="Libellé Nature" [(ngModel)]="nature.libelleNature" name="libelleNature" required>
              </mat-form-field>
              </div>
              <button mat-raised-button color="primary" (click)="updateNature()" style="height:30px;margin: auto;">Modifier</button>
            </div>
        </div>
    </div>
</div>
  <div class="col-sm-6">
    <div class="navbar-form">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Liste des natures de Marché</h5>
      </div>
      <div class="rowMenu spacer">
          <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterNature()"> Nouvelle Nature</button>
          <div class="navbar-form navbar-right row" >
              <mat-form-field>
                  <input matInput type="text" [(ngModel)]="libelleNature" (keyup)="chercher()" placeholder="Rechercher"/>
              </mat-form-field>
              <button type="button" class="btn btn-default" (keyup)="chercher()"><i class="fas fa-search"></i></button>
          </div>
      </div>
    <table class="table table-striped">
        <tr>
          <th>Libellé Nature</th>
          <th>Modification</th>
          <th>Supprimer</th>
        </tr>
        <tr *ngFor="let n of pageNatures?.content">
          <td>{{n.libelleNature}}</td>
          <td><a (click)="onEditNature(n.idNature)">
            <i class="fas fa-edit editIcon cursorElement"></i></a></td>
          <td><a (click)="onDeleteNature(n)">
            <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
        </tr>
    </table>
    <div class="container spacerUp">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
          <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</div>
