<div class="container-fluid text-center spacer" style="margin-top:50px;">
  <div style="margin-bottom: 50px;">
    <mat-form-field style="position:absolute;left: 50px;">
      <mat-select placeholder="Année" [(ngModel)]="annee" (change)="goToYear()">
        <mat-option [value]="0">

        </mat-option>
        <mat-option *ngFor="let annee of years" [value]="annee">
          {{ annee }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let p of projects" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{p}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let t of types">
          <mat-expansion-panel-header *ngIf="documentDeProjetEtType(p,t)!=undefined && documentDeProjetEtType(p,t).length!=0">
            {{t}}
          </mat-expansion-panel-header>
          <table class="table table-striped">
            <tr>
              <th>Nom document</th>
              <th>Chargeur document</th>
              <th>Date</th>
              <th>Telecharger</th>
            </tr>
            <tr *ngFor="let document of documentDeProjetEtType(p,t)">
              <td>{{document.nomDocument}}</td>
              <td>{{document.chargeurDocument}}</td>
              <td>{{document.dateAjout}}</td>
              <td>
                <a (click)="onFileDownload($event, document)">
                  <i class="fas fa-download cursorElement"></i>
                </a>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="container spacer">
    <ul class="nav nav-tabs margin">
      <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
        <a (click)="gotoPage(i)" class="cursorElement">{{i}}</a>
      </li>
    </ul>
  </div>
</div>