<div class="container-fluid text-center spacer">
  <div class="col-sm-6 position" *ngIf="display==1">
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" *ngIf="mode==0">
              <h5>Ajouter un secteur</h5>
            </div>
            <div class="panel-heading" *ngIf="mode==1">
                <h5>Modifier un secteur</h5>
              </div>
              <div class="inputForm spacer">
                  <mat-form-field>
                      <input matInput placeholder="Libellé Secteur" [(ngModel)]="secteur.libelleSecteur" name="libelleSecteur" #libelleSecteur="ngModel" required>
                      <mat-error *ngIf="libelleSecteur.invalid">Veuillez saisir un libellé</mat-error>
                  </mat-form-field>
              </div>
              <button mat-raised-button class="spacerUp" color="primary" (click)="ajouterSecteur()" style="height:30px;margin: 20px;" *ngIf="mode==0">Ajouter</button>
              <button mat-raised-button class="spacerUp" color="primary" (click)="updateSecteur()" style="height:30px;margin: 20px;" *ngIf="mode==1">Modifier</button>
          </div>
      </div>
  </div>
  <div class="col-sm-10" *ngIf="display==0">
    <div class="navbar-form">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Tous les secteurs</h5>
      </div>
      <div class="rowMenu spacer">
          <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterSecteur()"> Ajouter un secteur</button>
          <div class="navbar-form navbar-right row" >
              <mat-form-field>
                  <input matInput type="text" [(ngModel)]="libelleSecteur" (keyup)="chercher()" placeholder="Rechercher"/>
              </mat-form-field>
          </div>
      </div>
    <table class="table table-striped">
        <tr>
          <th>Libellé Secteur</th>
          <th>Modification</th>
          <th>Supprimer</th>
        </tr>
        <tr *ngFor="let s of pageSecteurs?.content">
          <td>{{s.libelleSecteur}}</td>
          <td><a (click)="onEditSecteur(s.idSecteur)">
            <i class="fas fa-edit editIcon cursorElement"></i></a></td>
          <td><a (click)="onDeleteSecteur(s)">
            <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
        </tr>
    </table>
    <div class="container spacerUp">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
          <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</div>
