<div class="container spacer">
    <div class="panel panel-success position">
      <div class="panel-heading">
        <h5>Details du projet</h5>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Intitulé</th>
            <th>Commune</th>
            <th>Montant Programmé</th>
            <th>Secteur</th>
            <th>Statut</th>
          </tr>
          <tr>
            <td>{{projet.intitule}}</td>
            <td>{{projet.commune}}</td>
            <td>{{projet.montantProgramme}}</td>
            <td>{{projet.secteur?.libelleSecteur}}</td>
            <td>{{projet.statut?.libelleStatut}}</td>
          </tr>
        </table>
      </div>
    </div>
    <app-marche class="container spacer"></app-marche>
    <app-observation></app-observation>
    <app-document></app-document>
  </div> 