<div class="col-sm-10" *ngIf="display==1">
  <div class="panel panel-success">
    <div class="panel-heading" *ngIf="mode==0">
      <h5>Ajouter un contact</h5>
    </div>
    <div class="panel-heading" *ngIf="mode==1">
      <h5>Modifier un contact</h5>
    </div>
    <div class="inputForm spacer" (keyup)="isValidForm()">
      <mat-form-field>
        <input matInput placeholder="Nom" [(ngModel)]="contact.nomContact" #nomContactT="ngModel" required>
        <mat-error *ngIf="nomContactT.invalid">Veuillez saisir le nom et le prénom</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Responsabilité" [(ngModel)]="contact.responsabilite" #responsabiliteT="ngModel" required>
        <mat-error *ngIf="responsabiliteT.invalid">Veuillez saisir votre responsabilité</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mail" [(ngModel)]="contact.mailContact" #mailContactT="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <mat-error *ngIf="mailContactT.invalid">Veuillez saisir une adresse mail valide</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Téléphone" [(ngModel)]="contact.telephone" #telephoneT="ngModel" required pattern="^0{1}[0-9]{9}$">
        <mat-error *ngIf="telephoneT.invalid">Veuillez saisir un numéro de téléphone valide</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="idMarche==0">
        <mat-select placeholder="Entreprise" [(ngModel)]="nomEntreprise" name="entreprise" #entrepriseT="ngModel" required>
          <mat-option *ngFor="let entreprise of entreprises" [(value)]="entreprise.nomEntreprise">
            {{ entreprise.nomEntreprise }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entrepriseT.invalid">Veuillez choisir une entreprise</mat-error>
      </mat-form-field>
      <button mat-raised-button class="spacerUp" color="primary" [disabled]="!isValidForm()" (click)="ajouterContact()" style="height:30px;margin: auto;margin-top:20px;"
        *ngIf="mode==0">Ajouter</button>
      <button mat-raised-button class="spacerUp" color="primary" [disabled]="!isValidForm()" (click)="updateContact()" style="height:30px;margin: auto;margin-top:20px;"
        *ngIf="mode==1">Modifier</button>
      <button mat-raised-button class="spacerUp" color="primary" (click)="retourAuComposant()" style="height:40px;margin: 20px;">Retourner</button>
    </div>
  </div>
</div>
<div class="col-sm-10" *ngIf="display==0">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h5>Contacts de l'entreprise</h5>
    </div>
    <div class="panel-body">
      <div class="rowMenu spacer">
        <button color="primary" class="newEntity innerSpacer" style="height:30px" (click)="clickOnAjouterContact()"> Nouveau Contact</button>
        <div class="navbar-form navbar-right row">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="nomContact" (keyup)="chercher()" placeholder="Rechercher" />
          </mat-form-field>
        </div>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Nom Complet</th>
          <th>Responsabilité</th>
          <th>Mail</th>
          <th>Téléphone</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
        <tr *ngFor="let c of pageContacts?.content">
          <td>{{c.nomContact}}</td>
          <td>{{c.responsabilite}}</td>
          <td>{{c.mailContact}}</td>
          <td>{{c.telephone}}</td>
          <td>
            <a (click)="onEditContact(c.idContact)">
              <i class="fas fa-edit editIcon cursorElement"></i>
            </a>
          </td>
          <td>
            <a (click)="onDeleteContact(c)">
              <i class="glyphicon glyphicon-remove cursorElement"></i>
            </a>
          </td>
        </tr>
      </table>
      <div class="container spacerUp">
        <ul class="nav nav-tabs">
          <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
            <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>