<div class="container-fluid text-center spacer tableSpacer">
  <div class="col-sm-4 position" >
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" *ngIf="mode==0">
              <h5>Ajouter un contact</h5>
            </div>
            <div class="panel-heading" *ngIf="mode==1">
                <h5>Modifier un contact</h5>
              </div>
            <div class="row spacer">
              <div class="inputForm">
                  <mat-form-field>
                      <input matInput placeholder="Nom" [(ngModel)]="contact.nomContact" name="nomContact"  required>
                      
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Responsabilité" [(ngModel)]="contact.responsabilite" name="responsabilite" required>
        
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mail" [(ngModel)]="contact.mailContact" name="mailContact"  required
                        pattern="[^ @]*@[^ @]*">
                   
                    </mat-form-field>
                   <mat-form-field>
                    <input matInput placeholder="Téléphone" [(ngModel)]="contact.telephone" name="telephone"  required>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Entreprise" [(ngModel)]="nomEntreprise" name="entreprise" required>
                        <mat-option *ngFor="let entreprise of entreprises" [(value)]="entreprise.nomEntreprise" >
                            {{ entreprise.nomEntreprise }}
                        </mat-option>
                      </mat-select>
                     </mat-form-field>
              </div>
              <button mat-raised-button color="primary" (click)="ajouterContact()" style="height:30px;margin: auto;" *ngIf="mode==0">Ajouter</button>
              <button mat-raised-button color="primary" (click)="updateContact()" style="height:30px;margin: auto;" *ngIf="mode==1">Modifier</button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-8">
    <div class="navbar-form">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>La liste Des Contacts</h5>
      </div>
      <div class="rowMenu spacer">
          <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterContact()"> Nouveau Contact</button>
          <div class="navbar-form navbar-right row" >
              <mat-form-field>
                  <input matInput type="text" [(ngModel)]="nomContact" (keyup)="chercher()" placeholder="Rechercher"/>
              </mat-form-field>
              <button type="button" class="btn btn-default" (keyup)="chercher()"><i class="fas fa-search"></i></button>
          </div>
      </div>
    <table class="table table-striped">
        <tr>
          <th>Nom Complet</th>
          <th>Responsabilité</th>
          <th>Mail</th>
          <th>Téléphone</th>
          <th>Entreprise</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
        <tr *ngFor="let c of pageContacts?.content">
          <td>{{c.nomContact}}</td>
          <td>{{c.responsabilite}}</td>
          <td>{{c.mailContact}}</td>
          <td>{{c.telephone}}</td>
          <td>{{c.entreprise.nomEntreprise}}</td>
          <td><a (click)="onEditContact(c.idContact)">
            <i class="fas fa-edit editIcon cursorElement"></i></a></td>
          <td><a (click)="onDeleteContact(c)">
            <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
        </tr>
    </table>
    <div class="container spacerUp">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
          <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
