ul {
    top: 0;
    width: 100%;
    list-style-type: armenian;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.navbar-expand-lg{
    margin-bottom: 0px;
}

.logoElement{
    padding: 30px;
}


.navbar {
    background-color: #e2e2de;
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .navbar-brand{
      color: black;
  }


  .navbar-inverse{
      border-color: transparent;
  }
  .row.content {height: 100%;}
  
  .collapse{
      display: inline;
  }
  
  .big-icon {
    font-size: 20px;
    float: right;
}

.dropdown {
    margin-left: 400px;
}

.sdp {
    margin-top: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .header{
    background-color: #e3eddb;
    background-image: url("./../../assets/bandeau.jpeg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    color: black;
    height: 120px !important; 
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
  }