<div class="container-fluid text-center spacer tableSpacer">
	<div class="col-sm-6 position" *ngIf="display==1">
		<div class="navbar-form">
			<div class="panel panel-success">
				<div class="panel-heading" style="display: flex;">
					<a (click)="retourAuComposant()">
						<i class="fas fa-chevron-circle-left cursorElement" style="font-size:2em;margin-right:10px;"></i>
					</a>
					<h5 *ngIf="mode==0">Ajouter une division</h5>
					<h5 *ngIf="mode==1">Modifier une division</h5>
				</div>
				<div class="inputForm spacer spacerUp" (keyup)="isValidForm()">
					<mat-form-field>
						<input matInput placeholder="Libellé Division" [(ngModel)]="division.libelleDivision" #libelleDivision="ngModel" required>
						<mat-error *ngIf="libelleDivision.invalid">Veuillez saisir un libelle pour la division</mat-error>
					</mat-form-field>
				</div>
				<button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="ajouterDivision()" style="height:30px;margin:20px;"
				 *ngIf="mode==0">Ajouter</button>
				<button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="updateDivision()" style="height:30px;margin:20px;"
				 *ngIf="mode==1">Modifier</button>
			</div>
		</div>
	</div>
	<div class="col-sm-10" *ngIf="display==0">
		<div class="navbar-form">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h5>Toutes les divisions</h5>
				</div>
				<div class="rowMenu spacer">
					<button color="primary" class="newEntity innerSpacer" style="height:30px" (click)="clickOnAjouterDivision()"> Ajouter une division</button>
					<div class="navbar-form navbar-right row">
						<mat-form-field>
							<input matInput type="text" [(ngModel)]="libelleDivision" (keyup)="chercher()" placeholder="Rechercher" />
						</mat-form-field>
					</div>
				</div>
				<table class="table table-striped">
					<tr>
						<th>Libellé Division</th>
						<th>Modification</th>
						<th>Supprimer</th>
					</tr>
					<tr *ngFor="let d of pageDivisions?.content">
						<td>{{d.libelleDivision}}</td>
						<td>
							<a (click)="onEditDivision(d.idDivision)">
								<i class="fas fa-edit editIcon cursorElement"></i>
							</a>
						</td>
						<td>
							<a (click)="onDeleteDivision(d)">
								<i class="glyphicon glyphicon-remove cursorElement"></i>
							</a>
						</td>
					</tr>
				</table>
				<div class="container spacerUp">
					<ul class="pager">
						<li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
							<a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>