<div class="container space" style="margin-top:70px;margin-left:200px;">

    <div class="row">
        <div class="col">
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/statuts">Statuts</a></h4>
                    <h2><i class="fa fa-home fa-2x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/secteurs">Secteurs</a></h4>
                    <h2><i class="fa fa-home fa-2x"></i></h2>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col">
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/divisions">Divisions</a></h4>
                    <h2><i class="fa fa-bars fa-2x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/types">Types Document</a></h4>
                    <h2><i class="glyphicon glyphicon-tags fa-2x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
                <div class="card text-center color1">
                    <div class="card-block">
                        <h4 class="card-title"><a href="/entreprises">Entreprises</a></h4>
                        <h2><i class="glyphicon glyphicon-tags fa-2x"></i></h2>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="col">
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/natures">Natures Marché</a></h4>
                    <h2><i class="fa fa-bars fa-2x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-center color1">
                <div class="card-block">
                    <h4 class="card-title"><a href="/users">Utilisateurs</a></h4>
                    <h2><i class="glyphicon glyphicon-user fa-2x"></i></h2>
                </div>
            </div>
        </div>
        <div class="col-md-2">
                <div class="card text-center color1">
                    <div class="card-block">
                        <h4 class="card-title"><a href="/profils">Profils</a></h4>
                        <h2><i class="fa fa-bars fa-2x"></i></h2>
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>