<div class="container-fluid text-center spacer tableSpacer">
  <div class="col-sm-6">
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" *ngIf="mode==0">
              <h5>Ajouter une entreprise</h5>
            </div>
            <div class="panel-heading" *ngIf="mode==1">
              <h5>Modifier une entreprise</h5>
            </div>
            <div class="row spacer">
              <div class="inputForm">
                  <mat-form-field>
                      <input matInput placeholder="Nom de L'entreprise" [(ngModel)]="entreprise.nomEntreprise" required>
                      
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Adresse de L'entreprise" [(ngModel)]="entreprise.adresseEntreprise" required>
                    
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" (click)="ajouterEntreprise()" style="height:30px;margin: auto;" *ngIf="mode==0">Ajouter</button> 
              <button mat-raised-button color="primary" (click)="updateEntreprise()" style="height:30px;margin: auto;" *ngIf="mode==1">Modifier</button>
            </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
    <div class="navbar-form">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>La Liste des Entreprises</h5>
      </div>
      <div class="rowMenu spacer">
          <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterEntreprise()"> Nouvelle Entreprise</button>
          <div class="navbar-form navbar-right row" >
              <mat-form-field>
                  <input matInput type="text" [(ngModel)]="nomEntreprise" (keyup)="chercher()" placeholder="Rechercher"/>
              </mat-form-field>
              <button type="button" class="btn btn-default" (keyup)="chercher()"><i class="fas fa-search"></i></button>
          </div>
      </div>
    <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Modification</th>
          <th>Supprimer</th>
        </tr>
        <tr *ngFor="let e of pageEntreprises?.content">
          <td>{{e.nomEntreprise}}</td>
          <td>{{e.adresseEntreprise}}</td>
          <td><a (click)="onEditEntreprise(e.idEntreprise)">
            <i class="fas fa-edit editIcon cursorElement"></i></a></td>
          <td><a (click)="onDeleteEntreprise(e)">
            <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
        </tr>
    </table>
    <div class="container spacerUp">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
          <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</div>
