/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.spacer{ 
    margin: 10px; 
}

.innerSpacer{
    margin: 5px;
}
.nospacer{
    margin-top: 0px;
}
body {
    background-image: url("assets/background.png");
 }

 .tableSpacer{
    margin-top: 40px;
 }

 .spacerUp{
    margin: 20px; 
 }

 .newEntity{
   float: left;
   font-size: small;
   background-color: rgb(71, 117, 188, 0.92);
   -webkit-text-fill-color: rgb(245, 241, 239)
 }

.marginElement{
    margin: 5px;
}

.cursorElement{
    cursor: pointer;
}

.form-box{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 20px; 
}

.inputForm{
    display: flex;
  flex-direction: column;
}

.inputForm > * {
  width: 60%;
  margin-left: 20%;
}

.nav-pills>li.active>a{
    background-color: rgb(187, 212, 236);
}
