<div class="container-fluid text-center spacer">
  <div class="col-sm-6 position" *ngIf="display==1" >
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" style="display: flex;">
                <a (click)="retourAuComposant()">
                  <i class="fas fa-chevron-circle-left cursorElement" style="font-size:2em;margin-right:10px;"></i>
                </a>
              <h5 *ngIf="mode==0">Ajouter un utilisateur</h5>
              <h5 *ngIf="mode==1">Modifier un utilisateur</h5>
            </div>
              <div class="inputForm sapcer spacerUp" (keyup)="isValidForm()">
                  <mat-form-field>
                      <input matInput placeholder="Nom" [(ngModel)]="utilisateur.nomUser" name="nom" #nom="ngModel" required>
                      <mat-error *ngIf="nom.invalid">Veuillez saisir votre nom</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Prénom" [(ngModel)]="utilisateur.prenomUser" name="prenom" #prenom="ngModel" required >
                    <mat-error *ngIf="prenom.invalid">Veuillez saisir votre prenom</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mail" [(ngModel)]="utilisateur.mailUser" name="mail" #mail="ngModel" required
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <mat-error *ngIf="mail.invalid">Veuillez saisir une adresse mail valides</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Login" [(ngModel)]="utilisateur.loginUser" name="login" #login="ngModel" required>
                    <mat-error *ngIf="login.invalid">Veuillez saisir un login</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Mot de Passe" [(ngModel)]="utilisateur.mdpUser" name="mdp" #mdp="ngModel" required
                    minlength="8">
                    <mat-error *ngIf="mdp.invalid">Veuillez saisir un mot de passe</mat-error>
                  </mat-form-field> 
                  <mat-form-field>
                      <input matInput placeholder="Responsabilité" [(ngModel)]="utilisateur.responsabilite" name="responsabilite" #responsabilite="ngModel" required>
                      <mat-error *ngIf="responsabilite.invalid">Veuillez saisir votre responsabilité</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Division" [(ngModel)]="libelleDivision" name="division" #division="ngModel" required>
                      <mat-option *ngFor="let division of divisions" [(value)]="division.libelleDivision" [value]="Informatique">
                          {{ division.libelleDivision }}
                      </mat-option>
                     </mat-select>
                     <mat-error *ngIf="division.invalid">Veuillez choisir une division pour l'utilisateur</mat-error>
                   </mat-form-field>
                   <mat-form-field>
                      <mat-select placeholder="Profil" [(ngModel)]="libelleProfil" name="profil" #profil="ngModel" required>
                        <mat-option *ngFor="let profil of profils" [(value)]="profil.libelleProfil">
                            {{ profil.libelleProfil }}
                        </mat-option>
                       </mat-select>
                       <mat-error *ngIf="profil.invalid">Veuillez choisir un profil pour l'utilisateur</mat-error>
                    </mat-form-field>
                   <mat-checkbox  class="checkbox" [(ngModel)]="utilisateur.estActive" required>activé</mat-checkbox>
              </div>
              <button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="ajouterUser()" style="height:30px;margin: 20px;" *ngIf="mode==0">Ajouter</button>
              <button mat-raised-button class="spacerUp" [disabled]="!isValidForm()" color="primary" (click)="updateUser()" style="height:30px;margin: 20px;" *ngIf="mode==1">Modifier</button>
          </div>
      </div>
  </div>
<div class="container spacer col-sm-10" *ngIf="display==0">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Liste des utilisateurs</h5>
      </div>
      <div class="rowMenu spacer">
        <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterUser()"> Ajouter un utilisateur</button>
        <div class="navbar-form navbar-right row" >
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="motCle" (keyup)="chercher()" placeholder="Rechercher"/>
            </mat-form-field>
        </div>
      </div>
        <table class="table table-striped">
          <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>E-mail</td>
            <td>Login</td>
            <td>Responsabilité</td>
            <td>Division</td>
            <td>Profil</td>
            <td>Activé</td>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          <tr *ngFor="let u of pageUsers?.content">
            <td>{{u.nomUser}}</td>
            <td>{{u.prenomUser}}</td>
            <td>{{u.mailUser}}</td>
            <td>{{u.loginUser}}</td>
            <td>{{u.responsabilite}}</td>
            <td>{{u.division.libelleDivision}}</td>
            <td>{{u.profil.libelleProfil}}</td>
            <td>{{u.estActive}}</td>
             
            <td><a (click)="onEditUser(u.idUser)">
              <i class="fas fa-edit editIcon cursorElement"></i></a></td>
            <td><a (click)="onDeleteUser(u)">
              <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
          </tr>
        </table>
        <div class="container spacerUp">
            <ul class="nav nav-pills">
              <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index">
                <a (click)="gotoPage(i)" class="marge cursorElement">{{i}}</a>
              </li>
            </ul>
          </div>
    </div>
</div>
</div>
