<div class="container-fluid text-center spacer">
  <div class="col-sm-4 position" >
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" *ngIf="mode==0">
              <h5>Ajouter un utilisateur</h5>
            </div>
            <div class="panel-heading" *ngIf="mode==1">
                <h5>Modifier un utilisateur</h5>
              </div>
            <div class="row spacer">
              <div class="inputForm">
                  <mat-form-field>
                      <input matInput placeholder="Nom" [(ngModel)]="utilisateur.nomUser" name="nom" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Prénom" [(ngModel)]="utilisateur.prenomUser" name="prenom" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mail" [(ngModel)]="utilisateur.mailUser" name="mail" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Login" [(ngModel)]="utilisateur.loginUser" name="login" >
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mot de Passe" [(ngModel)]="utilisateur.mdpUser" name="mdp" >
                  </mat-form-field> 
                  <mat-form-field>
                      <input matInput placeholder="Responsabilité" [(ngModel)]="utilisateur.responsabilite" name="responsabilite" >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Division" [(ngModel)]="idDivision" name="division">
                      <mat-option *ngFor="let division of divisions" [(value)]="division.idDivision">
                          {{ division.libelleDivision }}
                      </mat-option>
                     </mat-select>
                   </mat-form-field>
                   <mat-form-field>
                      <mat-select placeholder="Profil" [(ngModel)]="idProfil" name="profil">
                        <mat-option *ngFor="let profil of profils" [(value)]="profil.idProfil">
                            {{ profil.libelleProfil }}
                        </mat-option>
                       </mat-select>
                     </mat-form-field>
                   <mat-checkbox  class="checkbox" [(ngModel)]="utilisateur.estActive">activé</mat-checkbox>
              </div>
              <button mat-raised-button color="primary" (click)="ajouterUser()" style="height:30px;margin: auto;" *ngIf="mode==0">Ajouter</button>
              <button mat-raised-button color="primary" (click)="ajouterUser()" style="height:30px;margin: auto;" *ngIf="mode==1">Modifier</button>
            </div>
          </div>
      </div>
  </div>
<div class="container spacer col-sm-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Liste des utilisateurs</h5>
      </div>
      <div class="panel-body">
          <div class="navbar-form navbar-right row" >
              <input type="text" [(ngModel)]="motCle" placeholder="Rechercher" />
              <div class="selectRecherche">
                  <select class="custom-select">
                      <option value="chercher" selected>Chercher Par</option>
                      <option value="motCle">Mot clé</option>
                    </select>
              </div>
              <button type="button" class="btn btn-default" (click)="chercher()"><i class="fas fa-search"></i></button>
            </div>
        <div class="navbar-form" >
        <table class="table table-striped">
          <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>E-mail</td>
            <td>Login</td>
            <td>Mot de passe</td>
            <td>Responsabilité</td>
            <td>Division</td>
            <td>Profil</td>
            <td>Activé</td>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          <tr *ngFor="let u of pageUsers?.content">
            <td>{{u.nomUser}}</td>
            <td>{{u.prenomUser}}</td>
            <td>{{u.mailUser}}</td>
            <td>{{u.loginUser}}</td>
            <td>{{u.mdpUser}}</td>
            <td>{{u.responsabilite}}</td>
            <td>{{u.division.libelleDivision}}</td>
            <td>{{u.profil.libelleProfil}}</td>
            <td>{{u.estActive}}</td>
             
            <td><a href="/users"><i class="fas fa-edit editIcon"></i></a></td>
            <td><a (click)="onDeleteUser(u)">
              <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
</div>
