<div class="container-fluid text-center spacer">
  <div class="col-sm-3 position" >
        <div class="navbar-form">
          <div class="panel panel-success">
            <div class="panel-heading" *ngIf="mode==0">
              <h5>Ajouter un utilisateur</h5>
            </div>
            <div class="panel-heading" *ngIf="mode==1">
                <h5>Modifier un utilisateur</h5>
              </div>
            <div class="row spacer">
              <div class="inputForm">
                  <mat-form-field>
                      <input matInput placeholder="Nom" [(ngModel)]="utilisateur.nomUser" name="nom" #nom="ngModel" required>
                      <div [hidden]="nom.valid || nom.pristine"
                        class="alert alert-danger">
                        Nom est obligatoire
                      </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Prénom" [(ngModel)]="utilisateur.prenomUser" name="prenom" #prenom="ngModel" required >
                    <div [hidden]="prenom.valid || prenom.pristine"
                        class="alert alert-danger">
                        Prénom est obligatoire
                      </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Mail" [(ngModel)]="utilisateur.mailUser" name="mail" #mail="ngModel" required
                        pattern="[^ @]*@[^ @]*">
                      <div [hidden]="mail.valid || mail.pristine"
                        class="alert alert-danger">
                        Mail est obligatoire
                      </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Login" [(ngModel)]="utilisateur.loginUser" name="login" #login="ngModel" required>
                    <div [hidden]="login.valid || login.pristine"
                        class="alert alert-danger">
                        Login est obligatoire
                    </div>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="password" placeholder="Mot de Passe" [(ngModel)]="utilisateur.mdpUser" name="mdp" #mdp="ngModel" required
                    minlength="8">
                  </mat-form-field> 
                  <div [hidden]="mdp.valid || mdp.pristine" class="alert alert-danger">
                   Mot de Passe est obligatoire
                  </div>
                  <mat-form-field>
                      <input matInput placeholder="Responsabilité" [(ngModel)]="utilisateur.responsabilite" name="responsabilite" #responsabilite="ngModel" required>
                      <div [hidden]="responsabilite.valid || responsabilite.pristine"
                        class="alert alert-danger">
                        Responsabilité est obligatoire
                      </div>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Division" [(ngModel)]="libelleDivision" name="division" #division="ngModel" required>
                      <mat-option *ngFor="let division of divisions" [(value)]="division.libelleDivision" [value]="Informatique">
                          {{ division.libelleDivision }}
                      </mat-option>
                     </mat-select>
                     <div [hidden]="division.valid || division.pristine"
                        class="alert alert-danger">
                        Division est obligatoire
                      </div>
                   </mat-form-field>
                   <mat-form-field>
                      <mat-select placeholder="Profil" [(ngModel)]="libelleProfil" name="profil" #profil="ngModel" required>
                        <mat-option *ngFor="let profil of profils" [(value)]="profil.libelleProfil">
                            {{ profil.libelleProfil }}
                        </mat-option>
                       </mat-select>
                       <div [hidden]="profil.valid || profil.pristine"
                        class="alert alert-danger">
                        Profil est obligatoire
                      </div>
                    </mat-form-field>
                   <mat-checkbox  class="checkbox" [(ngModel)]="utilisateur.estActive" required>activé</mat-checkbox>
              </div>
              <button mat-raised-button color="primary" (click)="ajouterUser()" style="height:30px;margin: auto;" *ngIf="mode==0">Ajouter</button>
              <button mat-raised-button color="primary" (click)="updateUser()" style="height:30px;margin: auto;" *ngIf="mode==1">Modifier</button>
            </div>
          </div>
      </div>
  </div>
<div class="container spacer col-sm-9">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Liste des utilisateurs</h5>
      </div>
      <div class="rowMenu spacer">
        <button color="primary" class="newEntity innerSpacer" style="height:30px"(click)="clickOnAjouterUser()"> Ajouter un utilisateur</button>
        <div class="navbar-form navbar-right row" >
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="motCle" (keyup)="chercher()" placeholder="Rechercher"/>
            </mat-form-field>
            <button type="button" class="btn btn-default" (keyup)="chercher()"><i class="fas fa-search"></i></button>
        </div>
      </div>
        <table class="table table-striped">
          <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>E-mail</td>
            <td>Login</td>
            <td>Mot de passe</td>
            <td>Responsabilité</td>
            <td>Division</td>
            <td>Profil</td>
            <td>Activé</td>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          <tr *ngFor="let u of pageUsers?.content">
            <td>{{u.nomUser}}</td>
            <td>{{u.prenomUser}}</td>
            <td>{{u.mailUser}}</td>
            <td>{{u.loginUser}}</td>
            <td>{{u.mdpUser}}</td>
            <td>{{u.responsabilite}}</td>
            <td>{{u.division.libelleDivision}}</td>
            <td>{{u.profil.libelleProfil}}</td>
            <td>{{u.estActive}}</td>
             
            <td><a (click)="onEditUser(u.idUser)">
              <i class="fas fa-edit editIcon cursorElement"></i></a></td>
            <td><a (click)="onDeleteUser(u)">
              <i class="glyphicon glyphicon-remove cursorElement"></i></a></td>
          </tr>
        </table>
    </div>
</div>
</div>
