<div class="spacer  tableSpacer">
  <div class="container spacer">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Statistiques</h5>
      </div>
      <div class="panel-body">
        <div>
          <mat-form-field>
            <mat-select placeholder="Critére de statistique" [(ngModel)]="critere" (change)="showCritere()">
              <mat-option value="secteur">Secteur</mat-option>
              <mat-option value="commune">Commune</mat-option>
              <mat-option value="annee">Année</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="padding:10%;">
          <div>
              <canvas id="myChart">{{ myChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>