<div class="spacer  tableSpacer">
  <div class="container spacer">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5>Statistiques</h5>
      </div>
      <div class="panel-body">
        <div>
          <mat-form-field>
            <mat-select placeholder="Critère de statistique" [(ngModel)]="critere" (change)="showCritere()">
              <mat-option value="secteur">Nombre de projets par secteur</mat-option>
              <mat-option value="commune">Nombre de projets par commune</mat-option>
              <mat-option value="statut">Nombre de projets par statut</mat-option>
              <mat-option value="annee">Nombre de projets par année</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="padding:10%;">
          <div>
              <canvas id="myChart">{{ myChart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>