<div class="container-fluid text-center spacer" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
            <div class="card-block">
                <h4 class="card-title">
                    <a href="/divisions" class="color1">Divisions</a>
                </h4>
                <a href="/divisions">
                    <i class="fas fa-sitemap fa-4x color1"></i>
                </a>
            </div>
            <div class="card-block" style="margin-top:50px;">
                <h4 class="card-title">
                    <a href="/statuts" class="color1">Statuts</a>
                </h4>
                <a href="/statuts">
                    <i class="fas fa-spinner fa-4x color1"></i>
                </a>
            </div>
            <div class="card-block" style="margin-top:50px;">
                <h4 class="card-title">
                    <a href="/users" class="color1">Utilisateurs</a>
                </h4>
                <a href="/users">
                    <i class="fas fa-users fa-4x color1"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card-block">
                <h4 class="card-title">
                    <a href="/secteurs" class="color1">Secteurs</a>
                </h4>
                <a href="/secteurs">
                    <i class="fas fa-industry fa-4x color1"></i>
                </a>
            </div>
            <div class="card-block" style="margin-top:50px;">
                <h4 class="card-title">
                    <a href="/types" class="color1">Types Document</a>
                </h4>
                <a href="/types">
                    <i class="fa fa-file fa-4x color1"></i>
                </a>
            </div>
            <div class="card-block" style="margin-top:50px;">
                <h4 class="card-title">
                    <a href="/profils" class="color1">Profils</a>
                </h4>
                <a href="/profils">
                    <i class="fa fa-user-plus fa-4x color1"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card-block">
                <h4 class="card-title">
                    <a href="/natures" class="color1">Natures Marché</a>
                </h4>
                <a href="/natures">
                    <i class="fa fa-bars fa-4x color1"></i>
                </a>
            </div>
            <div class="card-block" style="margin-top:50px;">
                <h4 class="card-title">
                    <a href="/entreprises" class="color1">Entreprises</a>
                </h4>
                <a href="/entreprises">
                    <i class="fa fa-building fa-4x color1"></i>
                </a>
            </div>
        </div>
    </div>
</div>