/* Set black background color, white text and some padding */
.footer {
    background-color: #e3eddb;
    color: black;
    height: 30px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border:1px solid black
  }

  .centerText{
    margin-left: 50%
  }